/* common css part start */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;
  display: inline-block;
}
ul,ol{
  list-style: none;
}
/* common css part end */